In [1]:
import tweepy

In [2]:
import shelve

In [3]:
filename1='Donorschoose_1.out'

In [5]:
my_shelf = shelve.open(filename1)

In [6]:
globals()['tweets1']=my_shelf['public_tweets']

In [7]:
len(tweets1)

15

In [8]:
tweet_id1=[]

In [9]:
tweet_created1=[]

In [10]:
u_name1=[]

In [11]:
u_id1=[]

In [12]:
frnd_count1=[]

In [13]:
fol_count1=[]

In [22]:
rt1=[]

In [15]:
for i in range(0, len(tweets1)):
    tweet_id1.append(tweets1[i]._json['id'])

In [16]:
for i in range(0, len(tweets1)):
    tweet_created1.append(tweets1[i]._json['created_at'])

In [17]:
for i in range(0, len(tweets1)):
    u_name1.append(tweets1[i]._json['user']['name'])

In [18]:
for i in range(0, len(tweets1)):
    u_id1.append(tweets1[i]._json['user']['id'])

In [19]:
for i in range(0, len(tweets1)):
    frnd_count1.append(tweets1[i]._json['user']['friends_count'])

In [20]:
for i in range(0, len(tweets1)):
    fol_count1.append(tweets1[i]._json['user']['followers_count'])

In [23]:
for i in range(0, len(tweets1)):
    rt1.append(tweets1[i]._json['retweet_count'])

In [24]:
import pandas as pd

In [25]:
data_1=pd.DataFrame()

In [26]:
data_1['id']=tweet_id1

In [27]:
data_1['created_at']=tweet_created1

In [28]:
data_1['user_name']=u_name1

In [29]:
data_1['user_id']=u_id1

In [30]:
data_1['friend_count']=frnd_count1

In [31]:
data_1['follower_count']=fol_count1

In [32]:
data_1['rt_count']=rt1

In [33]:
data_1

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1323024858985410561,Sun Nov 01 22:11:21 +0000 2020,Penny Ramsey,4240406412,1674,346,0
1,1323024364913176581,Sun Nov 01 22:09:23 +0000 2020,Laura Edwards,855603274946359296,3097,3598,13
2,1323024224336924679,Sun Nov 01 22:08:50 +0000 2020,Krista Grasser,563317311,6981,6905,5
3,1323024208797048833,Sun Nov 01 22:08:46 +0000 2020,Krista Grasser,563317311,6981,6905,2
4,1323024167839694848,Sun Nov 01 22:08:36 +0000 2020,Krista Grasser,563317311,6981,6905,3
5,1323024089439752194,Sun Nov 01 22:08:18 +0000 2020,Christina Henke,758864135421427713,2090,1431,5
6,1323021702335504400,Sun Nov 01 21:58:49 +0000 2020,Kindness Rocks DonorsChoose Giving Page,1211346444071780353,2144,2677,1
7,1323021402518245386,Sun Nov 01 21:57:37 +0000 2020,Shelly Everhart 🍎🍏,91387246,1994,261,0
8,1323017391983394816,Sun Nov 01 21:41:41 +0000 2020,Rosanne Rosenberg,1277271177522601984,48,10,0
9,1323016180114870272,Sun Nov 01 21:36:52 +0000 2020,Charity Cheetah,1301595387992702979,486,150,1
10,1323016172984479753,Sun Nov 01 21:36:50 +0000 2020,Rita Oliva,1323015384707014656,22,0,0
11,1323015678086025217,Sun Nov 01 21:34:52 +0000 2020,Karen Stamp,3368142760,528,602,0
12,1323015462972772354,Sun Nov 01 21:34:01 +0000 2020,Mrs. Stamp,946186758001225731,88,159,0
13,1323015458375798792,Sun Nov 01 21:34:00 +0000 2020,Mrs. Parker,2706812420,1121,523,16
14,1323015333557526530,Sun Nov 01 21:33:30 +0000 2020,Charity Cheetah,1301595387992702979,486,150,0

In [35]:
filename2='Donorschoose_2.out'
my_shelf = shelve.open(filename2)
globals()['tweets2']=my_shelf['public_tweets']
len(tweets2)

15

In [37]:
tweet_id2=[]
for i in range(0, len(tweets2)):
    tweet_id2.append(tweets2[i]._json['id'])
        
tweet_created2=[]
for i in range(0, len(tweets2)):
    tweet_created2.append(tweets2[i]._json['created_at'])

u_name2=[]
for i in range(0, len(tweets2)):
    u_name2.append(tweets2[i]._json['user']['name'])

u_id2=[]
for i in range(0, len(tweets2)):
    u_id2.append(tweets2[i]._json['user']['id'])

frnd_count2=[]
for i in range(0, len(tweets2)):
    frnd_count2.append(tweets2[i]._json['user']['friends_count'])

fol_count2=[]
for i in range(0, len(tweets2)):
    fol_count2.append(tweets2[i]._json['user']['followers_count'])

rt2=[]
for i in range(0, len(tweets2)):
    rt2.append(tweets2[i]._json['retweet_count'])

In [38]:
data_2=pd.DataFrame()
data_2['id']=tweet_id2
data_2['created_at']=tweet_created2
data_2['user_name']=u_name2
data_2['user_id']=u_id2
data_2['friend_count']=frnd_count2
data_2['follower_count']=fol_count2
data_2['rt_count']=rt2
data_2

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1323015333557526530,Sun Nov 01 21:33:30 +0000 2020,Charity Cheetah,1301595387992702979,486,150,0
1,1323015233305280514,Sun Nov 01 21:33:06 +0000 2020,Laura G,3314276374,2339,1567,1
2,1323014722497765377,Sun Nov 01 21:31:04 +0000 2020,STEM Bot Ai,1127630178644054018,2081,1941,1
3,1323014680202412034,Sun Nov 01 21:30:54 +0000 2020,Kindness Rocks DonorsChoose Giving Page,1211346444071780353,2144,2677,10
4,1323014666914799619,Sun Nov 01 21:30:51 +0000 2020,STEM Bot Ai,1127630178644054018,2081,1941,1
5,1323014527873699840,Sun Nov 01 21:30:18 +0000 2020,Deidra Dumm,1229541910613831680,681,427,1
6,1323013871695761408,Sun Nov 01 21:27:42 +0000 2020,Deidra Dumm,1229541910613831680,681,427,1
7,1323011403683401733,Sun Nov 01 21:17:53 +0000 2020,Jonathan Dresner,57038504,334,961,0
8,1323009740633382912,Sun Nov 01 21:11:17 +0000 2020,"AGaiter, NBCT",1682441239,488,303,0
9,1323009503177043968,Sun Nov 01 21:10:20 +0000 2020,Rosanne Rosenberg,1277271177522601984,48,10,0
10,1323009339116826624,Sun Nov 01 21:09:41 +0000 2020,Rosanne Rosenberg,1277271177522601984,48,10,0
11,1323008104250937345,Sun Nov 01 21:04:47 +0000 2020,Milton L. Ramirez,610803,13705,13360,0
12,1323007123727519745,Sun Nov 01 21:00:53 +0000 2020,Kirstin,345022239,2025,1786,13
13,1323007112096686082,Sun Nov 01 21:00:50 +0000 2020,melissateach123,3310475151,101,54,0
14,1323006933721182208,Sun Nov 01 21:00:07 +0000 2020,Politicia,1038624519194398720,111,54,4

In [39]:
filename3='Donorschoose_3.out'
my_shelf = shelve.open(filename3)
globals()['tweets3']=my_shelf['public_tweets']
len(tweets3)

15

In [40]:
tweet_id3=[]
for i in range(0, len(tweets3)):
    tweet_id3.append(tweets3[i]._json['id'])
        
tweet_created3=[]
for i in range(0, len(tweets3)):
    tweet_created3.append(tweets3[i]._json['created_at'])

u_name3=[]
for i in range(0, len(tweets3)):
    u_name3.append(tweets3[i]._json['user']['name'])

u_id3=[]
for i in range(0, len(tweets3)):
    u_id3.append(tweets3[i]._json['user']['id'])

frnd_count3=[]
for i in range(0, len(tweets3)):
    frnd_count3.append(tweets3[i]._json['user']['friends_count'])

fol_count3=[]
for i in range(0, len(tweets3)):
    fol_count3.append(tweets3[i]._json['user']['followers_count'])

rt3=[]
for i in range(0, len(tweets3)):
    rt3.append(tweets3[i]._json['retweet_count'])

In [41]:
data_3=pd.DataFrame()
data_3['id']=tweet_id3
data_3['created_at']=tweet_created3
data_3['user_name']=u_name3
data_3['user_id']=u_id3
data_3['friend_count']=frnd_count3
data_3['follower_count']=fol_count3
data_3['rt_count']=rt3
data_3

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1323006933721182208,Sun Nov 01 21:00:07 +0000 2020,Politicia,1038624519194398720,111,54,4
1,1323006776711794694,Sun Nov 01 20:59:30 +0000 2020,VoltaLibrary,1167464017838911488,33,19,0
2,1323006538273951745,Sun Nov 01 20:58:33 +0000 2020,🌺 Gҽɳα C 👩🏻‍🏫,1232076694879641600,1522,873,4
3,1323006463191769088,Sun Nov 01 20:58:15 +0000 2020,🌺 Gҽɳα C 👩🏻‍🏫,1232076694879641600,1522,873,4
4,1323006460058652672,Sun Nov 01 20:58:15 +0000 2020,AppleRetweetBot,1311295317116104707,1,635,1
5,1323006458481516544,Sun Nov 01 20:58:14 +0000 2020,Jill Ollmann,1161077287120441350,1512,699,4
6,1323006356413059072,Sun Nov 01 20:57:50 +0000 2020,Megan Meadows,48582825,433,159,1
7,1323005535227138050,Sun Nov 01 20:54:34 +0000 2020,Jill Ollmann,1161077287120441350,1512,699,7
8,1323005439999725570,Sun Nov 01 20:54:11 +0000 2020,Jill Ollmann,1161077287120441350,1512,699,13
9,1323005335213346816,Sun Nov 01 20:53:46 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,13
10,1323005314493521922,Sun Nov 01 20:53:41 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,4
11,1323005276321124352,Sun Nov 01 20:53:32 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,5
12,1323005123401027586,Sun Nov 01 20:52:56 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,7
13,1323005073249751046,Sun Nov 01 20:52:44 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,7
14,1323005003909468160,Sun Nov 01 20:52:27 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,4

In [44]:
filename4='Donorschoose_4.out'
my_shelf = shelve.open(filename4)
globals()['tweets4']=my_shelf['public_tweets']
len(tweets4)

8

In [45]:
tweet_id4=[]
for i in range(0, len(tweets4)):
    tweet_id4.append(tweets4[i]._json['id'])
        
tweet_created4=[]
for i in range(0, len(tweets4)):
    tweet_created4.append(tweets4[i]._json['created_at'])

u_name4=[]
for i in range(0, len(tweets4)):
    u_name4.append(tweets4[i]._json['user']['name'])

u_id4=[]
for i in range(0, len(tweets4)):
    u_id4.append(tweets4[i]._json['user']['id'])

frnd_count4=[]
for i in range(0, len(tweets4)):
    frnd_count4.append(tweets4[i]._json['user']['friends_count'])

fol_count4=[]
for i in range(0, len(tweets4)):
    fol_count4.append(tweets4[i]._json['user']['followers_count'])

rt4=[]
for i in range(0, len(tweets4)):
    rt4.append(tweets4[i]._json['retweet_count'])

In [46]:
data_4=pd.DataFrame()
data_4['id']=tweet_id4
data_4['created_at']=tweet_created4
data_4['user_name']=u_name4
data_4['user_id']=u_id4
data_4['friend_count']=frnd_count4
data_4['follower_count']=fol_count4
data_4['rt_count']=rt4
data_4

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1323005003909468160,Sun Nov 01 20:52:27 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,4
1,1323004612417331207,Sun Nov 01 20:50:54 +0000 2020,Mr Retweeter,1185435701296320513,1,580,1
2,1323004325992505347,Sun Nov 01 20:49:46 +0000 2020,"“Mrs. April” Myres, NBCT, Special Needs Pre-K",56382144,1115,1351,1
3,1323003862752628747,Sun Nov 01 20:47:55 +0000 2020,Emily Dawson,845816221,4286,2603,4
4,1323003643231006721,Sun Nov 01 20:47:03 +0000 2020,😷Dr. Kristin Hamilton💃🦸🏼,525903370,804,495,22
5,1323002532658966528,Sun Nov 01 20:42:38 +0000 2020,craig newmark,14368074,4499,87036,1
6,1323002275434881024,Sun Nov 01 20:41:37 +0000 2020,MissSally,1128495209463959553,3140,2592,1
7,1323001872819564550,Sun Nov 01 20:40:01 +0000 2020,Aʟᴇᴊᴀɴᴅʀᴏ Dᴇ Lᴀ Pᴇɴ̃ᴀ Jʀ.,788171816883728384,815,417,1

In [47]:
filename5='Donorschoose_5.out'
my_shelf = shelve.open(filename5)
globals()['tweets5']=my_shelf['public_tweets']
len(tweets5)

tweet_id5=[]
for i in range(0, len(tweets5)):
    tweet_id5.append(tweets5[i]._json['id'])
        
tweet_created5=[]
for i in range(0, len(tweets5)):
    tweet_created5.append(tweets5[i]._json['created_at'])

u_name5=[]
for i in range(0, len(tweets5)):
    u_name5.append(tweets5[i]._json['user']['name'])

u_id5=[]
for i in range(0, len(tweets5)):
    u_id5.append(tweets5[i]._json['user']['id'])

frnd_count5=[]
for i in range(0, len(tweets5)):
    frnd_count5.append(tweets5[i]._json['user']['friends_count'])

fol_count5=[]
for i in range(0, len(tweets5)):
    fol_count5.append(tweets5[i]._json['user']['followers_count'])

rt5=[]
for i in range(0, len(tweets5)):
    rt5.append(tweets5[i]._json['retweet_count'])

data_5=pd.DataFrame()
data_5['id']=tweet_id5
data_5['created_at']=tweet_created5
data_5['user_name']=u_name5
data_5['user_id']=u_id5
data_5['friend_count']=frnd_count5
data_5['follower_count']=fol_count5
data_5['rt_count']=rt5
data_5

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1323001872819564550,Sun Nov 01 20:40:01 +0000 2020,Aʟᴇᴊᴀɴᴅʀᴏ Dᴇ Lᴀ Pᴇɴ̃ᴀ Jʀ.,788171816883728384,815,417,1
1,1323000846628593664,Sun Nov 01 20:35:56 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,5
2,1323000737257934849,Sun Nov 01 20:35:30 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,2
3,1323000282016526337,Sun Nov 01 20:33:42 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,1
4,1322999976105070592,Sun Nov 01 20:32:29 +0000 2020,Stephanie McDougall,1158522093107130370,2102,1222,0
5,1322999866558173184,Sun Nov 01 20:32:02 +0000 2020,Monique M. Ferreira,122363742,30,24,0
6,1322999745653149700,Sun Nov 01 20:31:34 +0000 2020,Miss Paluczak’s 1st Grade,769243653105553409,569,249,0
7,1322999618599346177,Sun Nov 01 20:31:03 +0000 2020,Jim Lynch,3930103636,3343,2855,16
8,1322999497627230208,Sun Nov 01 20:30:35 +0000 2020,Stacey L,28740807,2572,1041,12
9,1322999008143548420,Sun Nov 01 20:28:38 +0000 2020,Aʟᴇᴊᴀɴᴅʀᴏ Dᴇ Lᴀ Pᴇɴ̃ᴀ Jʀ.,788171816883728384,815,417,0

In [49]:
filename6='Donorschoose_6.out'
my_shelf = shelve.open(filename6)
globals()['tweets6']=my_shelf['public_tweets']
len(tweets6)

tweet_id6=[]
for i in range(0, len(tweets6)):
    tweet_id6.append(tweets6[i]._json['id'])
        
tweet_created6=[]
for i in range(0, len(tweets6)):
    tweet_created6.append(tweets6[i]._json['created_at'])

u_name6=[]
for i in range(0, len(tweets6)):
    u_name6.append(tweets6[i]._json['user']['name'])

u_id6=[]
for i in range(0, len(tweets6)):
    u_id6.append(tweets6[i]._json['user']['id'])

frnd_count6=[]
for i in range(0, len(tweets6)):
    frnd_count6.append(tweets6[i]._json['user']['friends_count'])

fol_count6=[]
for i in range(0, len(tweets6)):
    fol_count6.append(tweets6[i]._json['user']['followers_count'])

rt6=[]
for i in range(0, len(tweets6)):
    rt6.append(tweets6[i]._json['retweet_count'])

data_6=pd.DataFrame()
data_6['id']=tweet_id6
data_6['created_at']=tweet_created6
data_6['user_name']=u_name6
data_6['user_id']=u_id6
data_6['friend_count']=frnd_count6
data_6['follower_count']=fol_count6
data_6['rt_count']=rt6
data_6

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1322999008143548420,Sun Nov 01 20:28:38 +0000 2020,Aʟᴇᴊᴀɴᴅʀᴏ Dᴇ Lᴀ Pᴇɴ̃ᴀ Jʀ.,788171816883728384,815,417,0
1,1322998480231608320,Sun Nov 01 20:26:32 +0000 2020,Shawna Portee (pour ☕️),886594945502597120,1528,1516,16
2,1322998109845291012,Sun Nov 01 20:25:04 +0000 2020,am❤️teach,1447414898,2193,1542,5
3,1322997632038391808,Sun Nov 01 20:23:10 +0000 2020,Jolie Betty,37613056,878,208,5
4,1322996950518714373,Sun Nov 01 20:20:27 +0000 2020,tama bruder,2793196587,230,16,0
5,1322996943358840832,Sun Nov 01 20:20:26 +0000 2020,"AGaiter, NBCT",1682441239,488,303,2
6,1322996277009915904,Sun Nov 01 20:17:47 +0000 2020,tama bruder,2793196587,230,16,0
7,1322994595664310272,Sun Nov 01 20:11:06 +0000 2020,Lisa 🚌📚🐞,961048991885438977,1823,2130,5
8,1322994017613848576,Sun Nov 01 20:08:48 +0000 2020,DCAGivingPage,1026116995262152704,2215,2937,0
9,1322993621017202688,Sun Nov 01 20:07:13 +0000 2020,Nancy,1159543111124758530,857,402,0
10,1322993506319781888,Sun Nov 01 20:06:46 +0000 2020,Krista Grasser,563317311,6981,6905,5
11,1322993470378749954,Sun Nov 01 20:06:38 +0000 2020,Helena Carroll,1255553184552161287,1352,855,2
12,1322993458211151878,Sun Nov 01 20:06:35 +0000 2020,Deidra Dumm,1229541910613831680,681,427,0
13,1322992701143470082,Sun Nov 01 20:03:34 +0000 2020,Deidra Dumm,1229541910613831680,681,427,0

In [50]:
filename7='Donorschoose_7.out'
my_shelf = shelve.open(filename7)
globals()['tweets7']=my_shelf['public_tweets']
len(tweets7)

tweet_id7=[]
for i in range(0, len(tweets7)):
    tweet_id7.append(tweets7[i]._json['id'])
        
tweet_created7=[]
for i in range(0, len(tweets7)):
    tweet_created7.append(tweets7[i]._json['created_at'])

u_name7=[]
for i in range(0, len(tweets7)):
    u_name7.append(tweets7[i]._json['user']['name'])

u_id7=[]
for i in range(0, len(tweets7)):
    u_id7.append(tweets7[i]._json['user']['id'])

frnd_count7=[]
for i in range(0, len(tweets7)):
    frnd_count7.append(tweets7[i]._json['user']['friends_count'])

fol_count7=[]
for i in range(0, len(tweets7)):
    fol_count7.append(tweets7[i]._json['user']['followers_count'])

rt7=[]
for i in range(0, len(tweets7)):
    rt7.append(tweets7[i]._json['retweet_count'])

data_7=pd.DataFrame()
data_7['id']=tweet_id7
data_7['created_at']=tweet_created7
data_7['user_name']=u_name7
data_7['user_id']=u_id7
data_7['friend_count']=frnd_count7
data_7['follower_count']=fol_count7
data_7['rt_count']=rt7
data_7

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1322992701143470082,Sun Nov 01 20:03:34 +0000 2020,Deidra Dumm,1229541910613831680,681,427,0
1,1322992697737662465,Sun Nov 01 20:03:33 +0000 2020,Lisa,1247330429377658880,45,14,0
2,1322992320640417792,Sun Nov 01 20:02:03 +0000 2020,Susan Hartman,1230613673418330117,1366,775,13
3,1322991824169041922,Sun Nov 01 20:00:05 +0000 2020,🎶❤🎶 Jennifer Witter 🎶❤🎶,56109573,4898,4676,5
4,1322991692769824769,Sun Nov 01 19:59:34 +0000 2020,Jennie Woods,765397257906552833,1516,2158,14
5,1322991131764920320,Sun Nov 01 19:57:20 +0000 2020,The Coffee Bean Teacher,1322983588556668928,93,7,0
6,1322991076865658885,Sun Nov 01 19:57:07 +0000 2020,The Coffee Bean Teacher,1322983588556668928,93,7,0
7,1322990979612368902,Sun Nov 01 19:56:44 +0000 2020,The Coffee Bean Teacher,1322983588556668928,93,7,0
8,1322990827904315395,Sun Nov 01 19:56:08 +0000 2020,Rigggssss,788000656980410370,5261,6914,12
9,1322990776322764801,Sun Nov 01 19:55:55 +0000 2020,The Coffee Bean Teacher,1322983588556668928,93,7,0
10,1322990764901761025,Sun Nov 01 19:55:52 +0000 2020,ᴅᴀɴ ᴄᴏꜱᴛᴇʟʟᴏ #BLM,22588233,730,383,5
11,1322990642855874567,Sun Nov 01 19:55:23 +0000 2020,ᴅᴀɴ ᴄᴏꜱᴛᴇʟʟᴏ #BLM,22588233,730,383,13
12,1322990585968496652,Sun Nov 01 19:55:10 +0000 2020,diego rosario,3326155535,256,118,16
13,1322990571875528710,Sun Nov 01 19:55:06 +0000 2020,sarahmac,442342463,554,735,0
14,1322990550279200768,Sun Nov 01 19:55:01 +0000 2020,Kerra Glover,880873201345200128,395,324,0

In [51]:
filename8='Donorschoose_8.out'
my_shelf = shelve.open(filename8)
globals()['tweets8']=my_shelf['public_tweets']
len(tweets8)

tweet_id8=[]
for i in range(0, len(tweets8)):
    tweet_id8.append(tweets8[i]._json['id'])
        
tweet_created8=[]
for i in range(0, len(tweets8)):
    tweet_created8.append(tweets8[i]._json['created_at'])

u_name8=[]
for i in range(0, len(tweets8)):
    u_name8.append(tweets8[i]._json['user']['name'])

u_id8=[]
for i in range(0, len(tweets8)):
    u_id8.append(tweets8[i]._json['user']['id'])

frnd_count8=[]
for i in range(0, len(tweets8)):
    frnd_count8.append(tweets8[i]._json['user']['friends_count'])

fol_count8=[]
for i in range(0, len(tweets8)):
    fol_count8.append(tweets8[i]._json['user']['followers_count'])

rt8=[]
for i in range(0, len(tweets8)):
    rt8.append(tweets8[i]._json['retweet_count'])

data_8=pd.DataFrame()
data_8['id']=tweet_id8
data_8['created_at']=tweet_created8
data_8['user_name']=u_name8
data_8['user_id']=u_id8
data_8['friend_count']=frnd_count8
data_8['follower_count']=fol_count8
data_8['rt_count']=rt8
data_8

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1322990550279200768,Sun Nov 01 19:55:01 +0000 2020,Kerra Glover,880873201345200128,395,324,0
1,1322990371169832962,Sun Nov 01 19:54:19 +0000 2020,Heizel Cruz,2959677875,25,13,0
2,1322990339611918337,Sun Nov 01 19:54:11 +0000 2020,am❤️teach,1447414898,2193,1542,7
3,1322990311472287744,Sun Nov 01 19:54:04 +0000 2020,The Coffee Bean Teacher,1322983588556668928,93,7,12
4,1322990273882779648,Sun Nov 01 19:53:55 +0000 2020,la Jolla boy,2569591997,30,27,0
5,1322989857791111168,Sun Nov 01 19:52:16 +0000 2020,Ms P-teacher,205929777,547,1064,0
6,1322989829605478406,Sun Nov 01 19:52:09 +0000 2020,xael bot,1127829883013361665,1,3133,16
7,1322989822038872064,Sun Nov 01 19:52:08 +0000 2020,Ms P-teacher,205929777,547,1064,13
8,1322989816171106310,Sun Nov 01 19:52:06 +0000 2020,Web Code Bot,1267072978644279296,1,112,16
9,1322989589246758915,Sun Nov 01 19:51:12 +0000 2020,marie t. culver,298882050,736,1325,5
10,1322989482749186049,Sun Nov 01 19:50:47 +0000 2020,Aʟᴇᴊᴀɴᴅʀᴏ Dᴇ Lᴀ Pᴇɴ̃ᴀ Jʀ.,788171816883728384,815,417,0
11,1322989285075832833,Sun Nov 01 19:50:00 +0000 2020,💜💜 Webb 📚📚,954348921010229248,781,602,2
12,1322989191505076225,Sun Nov 01 19:49:37 +0000 2020,Emily Dawson,845816221,4286,2603,5
13,1322989053181124610,Sun Nov 01 19:49:04 +0000 2020,#100daysOfCode,1204128767251230720,1,5259,16
14,1322989053181046789,Sun Nov 01 19:49:04 +0000 2020,#100daysOfCode,1204128767251230720,1,5259,16

In [52]:
filename9='Donorschoose_9.out'
my_shelf = shelve.open(filename9)
globals()['tweets9']=my_shelf['public_tweets']
len(tweets9)

tweet_id9=[]
for i in range(0, len(tweets9)):
    tweet_id9.append(tweets9[i]._json['id'])
        
tweet_created9=[]
for i in range(0, len(tweets9)):
    tweet_created9.append(tweets9[i]._json['created_at'])

u_name9=[]
for i in range(0, len(tweets9)):
    u_name9.append(tweets9[i]._json['user']['name'])

u_id9=[]
for i in range(0, len(tweets9)):
    u_id9.append(tweets9[i]._json['user']['id'])

frnd_count9=[]
for i in range(0, len(tweets9)):
    frnd_count9.append(tweets9[i]._json['user']['friends_count'])

fol_count9=[]
for i in range(0, len(tweets9)):
    fol_count9.append(tweets9[i]._json['user']['followers_count'])

rt9=[]
for i in range(0, len(tweets9)):
    rt9.append(tweets9[i]._json['retweet_count'])

data_9=pd.DataFrame()
data_9['id']=tweet_id9
data_9['created_at']=tweet_created9
data_9['user_name']=u_name9
data_9['user_id']=u_id9
data_9['friend_count']=frnd_count9
data_9['follower_count']=fol_count9
data_9['rt_count']=rt9
data_9

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1322989053181046789,Sun Nov 01 19:49:04 +0000 2020,#100daysOfCode,1204128767251230720,1,5259,16
1,1322989053176881153,Sun Nov 01 19:49:04 +0000 2020,#100daysOfCode,1204128767251230720,1,5259,16
2,1322989053172715520,Sun Nov 01 19:49:04 +0000 2020,#100daysOfCode,1204128767251230720,1,5259,16
3,1322988910285344769,Sun Nov 01 19:48:30 +0000 2020,Rebecca A Kamlet,1216809516144218112,299,84,12
4,1322988642751709191,Sun Nov 01 19:47:27 +0000 2020,Christopher Burnette,709564705304498176,385,8108,16
5,1322988634115657729,Sun Nov 01 19:47:24 +0000 2020,#100DaysOfCode,1260062769543434240,3,4544,16
6,1322988633952002051,Sun Nov 01 19:47:24 +0000 2020,Jessica shoonover,1275056773443973124,24,982,16
7,1322988625060077568,Sun Nov 01 19:47:22 +0000 2020,Ricardo Vázquez,992943418052460544,385,1072,16
8,1322988105054507011,Sun Nov 01 19:45:18 +0000 2020,Emily Dawson,845816221,4286,2603,1
9,1322987917040619533,Sun Nov 01 19:44:34 +0000 2020,Dianna H Tahiti project mind wipe incomplete,882302601848664069,1237,2472,2
10,1322987893548306433,Sun Nov 01 19:44:28 +0000 2020,Susan Davis-Foxworth,298780912,727,144,0
11,1322987463913197568,Sun Nov 01 19:42:45 +0000 2020,Charity Cheetah,1301595387992702979,486,150,16
12,1322987200477302785,Sun Nov 01 19:41:43 +0000 2020,Women Coders Bot,1084175030953611264,6,5191,16
13,1322987200372445184,Sun Nov 01 19:41:43 +0000 2020,FemTech_🖥👩🏽‍💻,1143528514550927361,2,16276,16
14,1322987178251689988,Sun Nov 01 19:41:37 +0000 2020,Susan Davis-Foxworth,298780912,727,144,16

In [54]:
filename10='Donorschoose_10.out'
my_shelf = shelve.open(filename10)
globals()['tweets10']=my_shelf['public_tweets']
len(tweets10)

tweet_id10=[]
for i in range(0, len(tweets10)):
    tweet_id10.append(tweets10[i]._json['id'])
        
tweet_created10=[]
for i in range(0, len(tweets10)):
    tweet_created10.append(tweets10[i]._json['created_at'])

u_name10=[]
for i in range(0, len(tweets10)):
    u_name10.append(tweets10[i]._json['user']['name'])

u_id10=[]
for i in range(0, len(tweets10)):
    u_id10.append(tweets10[i]._json['user']['id'])

frnd_count10=[]
for i in range(0, len(tweets10)):
    frnd_count10.append(tweets10[i]._json['user']['friends_count'])

fol_count10=[]
for i in range(0, len(tweets10)):
    fol_count10.append(tweets10[i]._json['user']['followers_count'])

rt10=[]
for i in range(0, len(tweets10)):
    rt10.append(tweets10[i]._json['retweet_count'])

data_10=pd.DataFrame()
data_10['id']=tweet_id10
data_10['created_at']=tweet_created10
data_10['user_name']=u_name10
data_10['user_id']=u_id10
data_10['friend_count']=frnd_count10
data_10['follower_count']=fol_count10
data_10['rt_count']=rt10
data_10

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1322989053181046789,Sun Nov 01 19:49:04 +0000 2020,#100daysOfCode,1204128767251230720,1,5259,16
1,1322989053176881153,Sun Nov 01 19:49:04 +0000 2020,#100daysOfCode,1204128767251230720,1,5259,16
2,1322989053172715520,Sun Nov 01 19:49:04 +0000 2020,#100daysOfCode,1204128767251230720,1,5259,16
3,1322988910285344769,Sun Nov 01 19:48:30 +0000 2020,Rebecca A Kamlet,1216809516144218112,299,84,12
4,1322988642751709191,Sun Nov 01 19:47:27 +0000 2020,Christopher Burnette,709564705304498176,385,8108,16
5,1322988634115657729,Sun Nov 01 19:47:24 +0000 2020,#100DaysOfCode,1260062769543434240,3,4544,16
6,1322988633952002051,Sun Nov 01 19:47:24 +0000 2020,Jessica shoonover,1275056773443973124,24,982,16
7,1322988625060077568,Sun Nov 01 19:47:22 +0000 2020,Ricardo Vázquez,992943418052460544,385,1072,16
8,1322988105054507011,Sun Nov 01 19:45:18 +0000 2020,Emily Dawson,845816221,4286,2603,1
9,1322987917040619533,Sun Nov 01 19:44:34 +0000 2020,Dianna H Tahiti project mind wipe incomplete,882302601848664069,1237,2472,2
10,1322987893548306433,Sun Nov 01 19:44:28 +0000 2020,Susan Davis-Foxworth,298780912,727,144,0
11,1322987463913197568,Sun Nov 01 19:42:45 +0000 2020,Charity Cheetah,1301595387992702979,486,150,16
12,1322987200477302785,Sun Nov 01 19:41:43 +0000 2020,Women Coders Bot,1084175030953611264,6,5191,16
13,1322987200372445184,Sun Nov 01 19:41:43 +0000 2020,FemTech_🖥👩🏽‍💻,1143528514550927361,2,16276,16
14,1322987178251689988,Sun Nov 01 19:41:37 +0000 2020,Susan Davis-Foxworth,298780912,727,144,16

In [55]:
data=pd.concat([data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,data_9,data_10], ignore_index=True)

In [56]:
data

,id,created_at,user_name,user_id,friend_count,follower_count,rt_count
0,1323024858985410561,Sun Nov 01 22:11:21 +0000 2020,Penny Ramsey,4240406412,1674,346,0
1,1323024364913176581,Sun Nov 01 22:09:23 +0000 2020,Laura Edwards,855603274946359296,3097,3598,13
2,1323024224336924679,Sun Nov 01 22:08:50 +0000 2020,Krista Grasser,563317311,6981,6905,5
3,1323024208797048833,Sun Nov 01 22:08:46 +0000 2020,Krista Grasser,563317311,6981,6905,2
4,1323024167839694848,Sun Nov 01 22:08:36 +0000 2020,Krista Grasser,563317311,6981,6905,3
...,...,...,...,...,...,...,...
132,1322987893548306433,Sun Nov 01 19:44:28 +0000 2020,Susan Davis-Foxworth,298780912,727,144,0
133,1322987463913197568,Sun Nov 01 19:42:45 +0000 2020,Charity Cheetah,1301595387992702979,486,150,16
134,1322987200477302785,Sun Nov 01 19:41:43 +0000 2020,Women Coders Bot,1084175030953611264,6,5191,16
135,1322987200372445184,Sun Nov 01 19:41:43 +0000 2020,FemTech_🖥👩🏽‍💻,1143528514550927361,2,16276,16
136,1322987178251689988,Sun Nov 01 19:41:37 +0000 2020,Susan Davis-Foxworth,298780912,727,144,16